*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#02111f;
    color:white;
}

.container{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:250px;
    background:#071427;
    padding:30px 20px;
}

.sidebar h2{
    margin-bottom:40px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:15px;
    margin-bottom:10px;
    border-radius:12px;
    cursor:pointer;
}

.sidebar li:hover{
    background:#11243d;
}

.active{
    background:#5b3df5;
}

.content{
    flex:1;
    padding:40px;
}

